body {
  margin: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
  margin-top: 100px;
  border: 1px solid #dddddd;
}

th {
  border: 1px solid #dddddd;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #dddddd;
}

h4 {
  font-weight: 700;
  text-decoration: underline;
  margin-left: 10px;
}

label {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 600;
}

#Emput-style {
  height: 30px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  margin-top: 40px;
  margin-left: 12px;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
}

.button-style {
  display: flex;
  margin-left: 1000px;
}
